{% extends 'base.html' %}
{% block body %}
<table class="table table-striped">

    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>

    {% for melon in dictionary %}
    <tr>
        <td>{{ dictionary[melon]["name"] }}</td>
        <td>{{ dictionary[melon]["quantity"] }}</td>
        <td>{{ dictionary[melon]["price"] }}</td>
        <td>{{ dictionary[melon]["price"] * dictionary[melon]["quantity"]}}</td>
    </tr>
    {% else %}
    <tr>
        <td></td>
    </tr>
    {% endfor %}
</table>
<h3> Total:{{ totalcart }}</h3>
<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endblock %}
